
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/header'); %>
    <div class="container-fluid">
        <h1>MY PURIM BASKETS</h1>
        <div class="position-absolute top-50 start-50 translate-middle">
            <button class="btn btn-warning" onclick="window.location='/receivers'"> Start a basket</button>
        </div>
        

    <script src="/script.js" type="javascript"></script>
    </div>
     <%- include('partials/footer.ejs'); %>
</body>

</html>